{{# partial "content" }}
    <p>
        <b>ui/</b>
        <br/>
        you can just say <a href="hello/">hello</a> or you can say <a href="hello/Max">hello Max</a>.
    </p>
{{/partial}}

{{> default}}