<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Jetty Gradle Hello World</display-name>

    <servlet>
        <!-- TODO update servlet name -->
        <servlet-name>HelloWorldServlet</servlet-name>

        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>

            <!-- load all classes under this package for this servlet -->
            <!-- TODO update package name if necessary -->
            <param-value>com.ziroby.hello.webapp</param-value>
        </init-param>

        <!--     <init-param> -->
        <!--         <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name> -->
        <!--         <param-value>true</param-value> -->
        <!--     </init-param> -->

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>

        <!-- this mounts servlet on root -->
        <!-- TODO update mount point if necessary -->
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
